<html>

<head>
	<title>Masters of Deception</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="icon" href="/assets/images/vendetta.png" type="image" sizes="16x16">
</head>

<body class="is-preload">

	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#" onclick="window.history.back();">Go Back</a></li>
				</ul>
				<ul>
					<li><a href="/register">Register new account</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">
		<div class="video-background">
			<div class="video-foreground">
				<!-- Add "&mute=1" after url to make autoplay=1 work -->

				<iframe
					src="https://www.youtube.com/embed/-MKapbz0GIo?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=-MKapbz0GIo&mute=1"
					frameborder="0" allowfullscreen muted loop></iframe>
			</div>
		</div>

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h2>Login to Masters of Deception CTF</h2>
				<p4>
					If you are new, you can register a new account by clicking the button on the left
				</p4>
			</div>
			<form method="POST">
                {% if error %}
                <p5 style="color: red; margin-left: 110px;">{{ error }}</p5>
                {% endif %}
				<div class="input_bar">
					<input type="text" name="username" id="un" placeholder="Username" />
					<input type="password" name="password" id="pw" placeholder="Password" />
					<input type="hidden" name="token" value="{{ csrf }}">
					{% if ref %}
					<input type="hidden" name="ref" value="{{ ref }}">
					{% endif %}
				</div>
				<br />
				<input type="submit" id="sub" value="Login" name="submit" class="primary" />
			</form>
		</section>

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
	</div>
</body>
</html>